/* My it162 Portal Website Styles */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
    box-sizing: border-box;
    background-color:#E5E5E5;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

*, *:before, *:after {
    box-sizing: inherit;
  }


main.wrapper {
    background-color:#FFFFFF;
    overflow:auto;
    width:80%;
    margin:auto;
    border-radius: 25px;
}


h1>a {
    text-decoration: none;
    color:#000;
}

h2 {
    font-weight: normal;
    line-height: 1em;
    margin-left: 10px;
}

.logo {
    color:#14213D;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #4f679c;
        color:#FFFFFF;
}

div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
    text-align: center;
}

p {
    margin: 1em;
}




/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1200px) {
	
    section {
		width: 100%;
		
	}

    h2 {
        margin-left: 1em;
    }
			
    img.desktop {
        width: 50%;
        float: left;
        margin: 0 1em 1em 0;
    }
    
    img.tablet, img.phone {
        display: none;
    }

}


/* TABLET */
@media all and (min-width:737px) and (max-width:1199px) {
	
    main.wrapper {
        width: 98%;
    }

	section {
		width:100%;
	}

	
    img.tablet {
       		width: 50%;
            margin: 0 0 1em 1em;
            float: right;
    }
    
    img.desktop, img.phone {
       	display:none;
    	}  
}

/* PHONE */
@media all and (max-width:736px) {
    main.wrapper {
        width: 100%;
        }
    
    img.phone {
       		width:100%;
            clear: both;
        }
    
    img.tablet, img.desktop {
       	display:none;
    	}  

}
