/*GLOBAL Website Styles*/
/* CSS Reset */
html {
  box-sizing: border-box;
  /*Sets rem to 10px */
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

img {
  width: 100%;
}

/* End of RESETS */

body {
  /* background-color: bisque; */
}

main {
  margin: auto;
  width: 95%;
  height: 100vh;
}

header {
  margin-top: 2rem;
}

div.logo-box {
  max-width: fit-content;
}

div.logo-box h1 {
  font-size: 2.5rem;
  margin-left: 0.25rem;
  margin-bottom: 0.05rem;
}

div.logo-box h1 a {
  color: #000;
  text-decoration: none;
  text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
}

/* Service Section */
h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

[class^='container-card'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 2px solid black; */
  min-height: 30vh;
  min-width: 10rem;
}

.container-card {
  text-align: center;
}

.container-card h3 {
  font-size: 2rem;
}

[class^='card'] {
  background: #f5f5f5;
  border: 2px solid black;
  border-radius: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 25rem;
  margin: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card > i {
  font-size: 7rem;
}

.card > h3 {
  margin-top: 2rem;
}

.card > .feature-list {
  margin: 0 3rem;
}

.card .feature-list p {
  text-align: left;
  font-size: 1.6rem;
  margin: 0.5rem;
}

/* Frontpage Shopping Section */
section.frontpage-shopping {
  margin-top: 6rem;
}

.wrap-container-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid black; */
  min-width: 10rem;
  align-items: center;
  text-align: center;
}

.wrap-item {
  /* background: darkorchid; */
  margin: 4rem 0;
  font-size: 1.5rem;
}

.heading-shopping h3 {
  font-size: 3rem;
  font-style: italic;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 16px rgba(255, 255, 255, 0.3);
}

.heading-shopping h3 span {
  display: inline-block;
  font-size: 1.3rem;
}

.frame-container {
  position: relative;
  max-width: 30rem;
  max-height: 36rem;
  border: 25px solid white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}

.frame-container img {
  object-fit: cover;
}

/* Footer */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #000;
  margin-top: 0.5em;
  border-radius: 15px;
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 95%, #414141 99%);
}

.flex-container .footer-link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  margin: 0.5em;
  width: 17.5rem;
  height: 10rem;
  color: #f5f5f5;
}

.footer-link p.social {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-left: 0.25rem;
}

.footer-link .link {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.footer-link .link a {
  font-size: 1em;
  text-decoration: none;
  padding: 0 0.75rem 0 1rem;
  margin-bottom: 1rem;
  width: 4.6em;
}

.footer-link p.contact a {
  font-size: 2.5rem;
  text-decoration: none;
  padding: 0.5em 0.2em;
}

.footer-link p.copyright {
  text-align: center;
}
.footer-link a {
  color: #f5f5f5;
}

/*Disclaimer Page*/

div.disclaimer p {
  font-size: 1em;
  margin: 1em 0.75em;
  max-width: 35em;
  line-height: 1.2;
}

/* Media Inquiry */

/*  Lrg Phone/ Small Tablet Breakpoint */
@media screen and (min-width: 578px) {
  main {
    width: 95%;
  }
}

/* Service Page Tablet-Desktop Breakpoint */
@media screen and (min-width: 643px) {
  img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap-container-box {
    flex-direction: row;
  }
}

/* Width Desktop Breakpoint */
@media screen and (min-width: 968px) {
  body {
    width: 90%;
    margin: auto;
  }
}

/* Width LRG Desktop Breakpoint */
@media screen and (min-width: 1320px) {
  body {
    width: 1320px;
    margin: auto;
  }
}
